<% include partials/header.ejs %>

<header>
    <h1> Operating Systems </h1>
</header>
        
        <br />
        
        <div>
            
            <p id="para1"> <b> Overview: </b> The Operating System of a computer is one of the most, if not the most important software that runs on a computer. Anyone who has ever used a computer has used an operating system. Think of the operating system as what allows you to communicate and interact with the computer. It is also what ties together and manages all of the computers memory, processes, software, and hardware. Click the links above to learn more about some of the most popular operating systems.</p>
            <br />
            
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/pTdSs8kQqSA">
                </iframe>
                
                <b id="b1"> Main types: </b>
                <ol>
                   <li> macOS </li>
                   <li> Windows </li>
                   <li> Linux </li>
                </ol>
        </div>

        <p>Random sentence of the day: <%= randomSentence %></p>
        
<% include partials/footer %>
