<% include partials/header.ejs %>

        <h1> Linux </h1>

        <br />
        
        <div id="content">
            
            <figure id="fig3">
                <img src="/img/linux.png" alt="Logo of linux" />
            </figure>
            
            <figure id="fig4">
                <img src="/img/ubuntu.png" alt="Logo of Ubuntu" />
            </figure>
            
            
            <p> Linux is an open souce operating system founded in 1991 by Linus Torvalds. This means it is readily available for free on the internet. This also means it is open to the community to view or edit. There are many different distributions of Linux from different companies such as Ubuntu or Red Hat. One gret aspect of Linux is that it is very customizable. It is also important to note that while Linux is rarely used at home by consumers, it is the industry standard when it comes to the computer science field. Linux is used for development as well as back end infrastructure because of its great commercial support and its security.
            </p>
            <br />
            
            <form action="https://opensource.com/resources/linux">
                <input type="submit" value="Go to info source." />
            </form>
        </div>
        
<% include partials/footer %>

