<% include partials/header.ejs %>


        <h1> mac OS </h1>

        <br />
        
        <div id="content2">
            <p id="para2"> MacOS is the operating system developed and used by Apple for their Macintosh machines. After Windows, it is the second most used operating system for desktops in the world. MacOS was introduced in 2001, and it was the start of the second major series of Mac operating systems. The technologies that made Apple capable of developing macOS were developed thanks to
            a company called NeXT. This compay was founded in 1985 by Steve Jobs after he was fired from Apple. Years later, Apple would go on to purchase the company and rehire Steve Jobs.</p>
            
            <figure>
                <img src="img/macOS.png" alt="Logo of macOS" />
            </figure>
            
            <figure>
                <img src="img/applelogo.png" alt="Logo of macOS" />
            </figure>
            
            <form action="https://en.wikipedia.org/wiki/MacOS">
                <input type="submit" value="Go to info source." />
            </form>
            
        </div>
        
<% include partials/footer %>
