<% include partials/header.ejs %>


        <h1> Windows </h1>
        <br />
        
        <div id="content3">
            
            <figure id="fig1">
                <img src="img/windows.png" alt="Logo of windows" />
            </figure>
            
            <form action="https://en.wikipedia.org/wiki/Microsoft_Windows#Early_versions_2">
                <input type="submit" value="Go to info source." />
            </form>
            
            <p id="para3"> Windows is the most widely used operating system for desktops and laptops across the world. It is estimated to be run on 90% of PCs. It was developed by tech giant Microsoft and continues being widely popular today. The first released version of Windows operating system dates all the way back to 1985, when they released their first operating system which they refered to as Windows 1.0 Interface Manager. Since then, we have seen its development over they years with over 25 versions, the most recent of which is Windows 10.  </p>
        </div>
        
<% include partials/footer %>
